<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <title>NYU Email Client</title>
        <h1>Compose New Email</h1>
        <form method = "POST" action = "/send">
            Sender:
            <div class = "form-group">
                <input type = "text" name = "Sender">
            </div>
            <br>
            Receiver:
            <div class = "form-group">
                <input type = "text" name = "Receiver">
            </div>
            <br>
            Content:
            <div class = "form-group">
                <input type = "text" name = "Content">
            </div>
            <br>
            <input class = "btn" type = "submit" value = "submit">
        </form>
    </body>

</html>